@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    scroll-behavior: smooth;
}


body {
    font-family: "Comic Neue", "Poppins", sans-serif !important;
}


@keyframes floatAnimation {
        0% {
            transform: translatey(0px);
        }

        50% {
            transform: translatey(-14px) rotate(5deg);
        }

        100% {
            transform: translatey(0px);
        }
    }

.floating {
    animation: floatAnimation 3s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}
